{% extends "basefront.html.twig" %}
{% block contenupage %}
<div class="ps-home ps-home--1">
	<section class="ps-section--banner">
		<div class="ps-section__overlay">
			<div class="ps-section__loading"></div>
		</div>
		<div class="owl-carousel" data-owl-auto="false" data-owl-loop="true" data-owl-speed="15000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on">
			<div class="ps-banner" style="background:#DAECFA;">
				<div class="container container-initial">
					<div class="ps-banner__block">
						<div class="ps-banner__content">
							<h2 class="ps-banner__title">Candid
								<br/>
								Whitening Kit</h2>
							<div class="ps-banner__desc">Only in this week. Don’t misss!</div>
							<div class="ps-banner__price">
								<span>$15.99</span>
								<del>$29.99</del>
							</div>
							<a class="bg-warning ps-banner__shop" href="#">Shop now</a>
							<div class="ps-banner__persen bg-warning ps-center">-30%</div>
						</div>
						<div class="ps-banner__thumnail">
							<img class="ps-banner__round"
