{% extends "basefront.html.twig" %}
{% block contenupage %}
	<div class="ps-blog ps-blog--masonry">
		<div class="container">
			<ul class="ps-breadcrumb">
				<li class="ps-breadcrumb__item">
					<a href="index.html">Home</a>
				</li>
				<li class="ps-breadcrumb__item active" aria-current="page">Blog
				</li>
			</ul>
			<h1 class="ps-blog__title">Blog</h1>
			<div class="ps-blog__content">
				<div class="row">
					{% for post in posts %}


						<div class="col-12 col-md-6 col-lg-4">
							<div class="ps-blog--latset">
								<div class="ps-blog__thumbnail">
									<a href="blog-post1.html"><img src="{{ asset('front/img/blog6-992x525.jpg')}}" alt="alt"/></a>
									<div class="ps-blog__badge">
										<span class="ps-badge__item">MEDIC</span>
										<span class="ps-badge__item">PHARMACY</span>
										<span class="ps-badge__item">SALE</span>
									</div>
								</div>
								<div class="ps-blog__content">
									<div class="ps-blog__meta">
										<span class="ps-blog__date">{{post.datepublication.format('d M Y')}}</span>
										<a class="ps-blog__author" href="#">{{post.utilisateur.username}}</a>
									</div>
									<a class="ps-blog__title" href="blog-post1.html">{{post.titrepost}}</a>
									<p class="ps-blog__desc">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="ps-blog__button">
					<a class="ps-btn ps-btn--primary" href="#">Load more</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
